<!doctype html>
<html lang="en">

<head>
    <style>
        div.jumbotron.hero-nature {
            color: black;
            text-align: center;
            padding-top: 100px;
            padding-bottom: 100px;
        }
    
        body {
          background-color: #05fa94;
            font-family: Verdana;
            text-align: center;
        }
        </style>
        <title>Diagnosis</title>
</head>
<body>
    
    <div class="jumbotron hero-nature">
        <h1><b>You have been diagnosed with no Stroke Risk. Congratulations</b></h1>
        <p><b>The algorithm has diagnosed you with no Stroke Risk based on your inputs. However it might be better to talk to a doctor regardless.</b></p>
    </div>
    
</body>

</html>